.image{
    max-height: 400px;
    max-width:450px;
    
}

.fontText{
    font-size:20px ;
}

.shadow1{
    background-color: aqua !important;
    box-shadow:  5px 5px 10px rgba(1, 27, 44, 0.295) !important;
    
}

.text-sans-serif{
    font-family: sans-serif;
}

#section1 img{
    max-height: 400px;
    max-width:450px;
    margin-top:  50px;

}
.w-45{
    width: 45% !important;
}
.hidden{
    display:hidden !important;
}


.clearfix{
    clear: both;
}
  
  .skills img {
    width: 100px; /* Makes images responsive to container width */
    max-height: 100px; /* Maintains aspect ratio */
    /* Ensures images do not exceed container width */
     /* Space between images */
    /* object-fit: cover; Covers the area without distortion */
  
   mix-blend-mode:darken;
    
  }
  
footer{
    background-color: rgb(8, 8, 48);
    color:white;
    text-align:center;
}
.fa-envelope{
    font-size: 30px;

}
.fa-copy{
    font-size: 30px;
    
}
.fa-copy:hover{
    cursor: pointer;
}
.fa-phone-alt{
    font-size: 30px;
}
.fab{
    font-size: 30px;
    cursor: pointer;
}
.leetcode{
    height: 30px;
}

#section1 article{
    margin-top:80px;
}
@media (max-width:829px) {
    .Intro .w-45 {
       
        width:100% !important;
        
       
        
      }
    .fontText{
        font-size: 18px;
    }
      .experience .d-flex{
        flex-direction: column !important;
    }
    .experience .w-45 {
       
        width:100% !important;
    
      }
    .experience .w-50 {
       
        width:100% !important;
    
      }
    .experience .flex-row{
        flex-direction: column !important;
    }
    .Intro .w-50 {
        
        width:100% !important;
        
       
        
      }
    
    .Intro .h-100{
        height: 0% !important;
    }
    .image{
        width: 100%;
        max-height: 400px;
    }
    #section1 .w-45{
        width: 100% !important;
    }
    #section1 .h-50{
        width: 100% !important;
        
        
    }
    #section1 img{
        max-height: 400px;
        width:100%;
    
    }
    #section1 {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    
      .skills picture{
       
        font-size: 1em;
        width:30%
        }
        .skills img {
            max-width: 60px; /* Makes images responsive to container width */
            max-height: 60px; /* Maintains aspect ratio */
            /* Ensures images do not exceed container width */
             /* Space between images */
            /* object-fit: cover; Covers the area without distortion */
          
           mix-blend-mode:darken;
            
          }
}
@media (max-width:550px){
    .fs-4{
        font-size: 1.5rem !important ;
    }
    .fs-5{
        font-size: 200px !important;
    }
    .fa-envelope{
        font-size: 25px;
    
    }
    .fontText{
        font-size: 16px;
    }
    .fa-copy{
        font-size: 25px;
        
    }
    .fa-copy:hover{
        cursor: pointer;
    }
    .fa-phone-alt{
        font-size: 25px;
    }
    .fab{
        font-size: 25px;
        cursor: pointer;
    }
    .leetcode{
        height: 25px;
    }
}
@media (max-width:350px){
    
    .fa-envelope{
        font-size: 20px;
    
    }
    .fa-copy{
        font-size: 20px;
        
    }
    .fa-copy:hover{
        cursor: pointer;
    }
    .fa-phone-alt{
        font-size: 20px;
    }
    .fab{
        font-size: 20px;
        cursor: pointer;
    }
    .leetcode{
        height: 20px;
    }
}
@media (max-width:280px){
    
    .fa-envelope{
        font-size: 15px;
    
    }
    .fa-copy{
        font-size: 15px;
        
    }
    .fa-copy:hover{
        cursor: pointer;
    }
    .fa-phone-alt{
        font-size: 15px;
    }
    .fab{
        font-size: 15px;
        cursor: pointer;
    }
    .leetcode{
        height: 15px;
    }
}
@media (max-width:250px) {
    .skills picture{
       
        font-size: 1em;
        width:40%
        }
}
@media (max-width:150px) {
    .skills picture{
       
        font-size: 1em;
        width:100%
        }
}